{% load django_htmx %}
<!doctype html>
<html lang="en-US">

<head>
  <meta charset="utf-8" />
  <title>{% block title %}Libriscan{% endblock %}</title>
  {% htmx_script %}
</head>

<body hx-headers='{"x-csrftoken": "{{ csrf_token }}"}'>

  <nav>
    {% block nav %}
    <ol>
      <li><a href="{% url 'index' %}">Home</a></li>
      {% if user.is_staff %}
      <li><a href="{% url 'admin:index' %}">Admin</a></li>
      {% endif %}
      {% if not user.is_authenticated %}
      <li>Log In</li>
      {% else %}
      <li>Log Out</li>
      {% endif %}
    </ol>
    {% endblock nav %}
  </nav>

  <div id="content">
      {% block content %}{% endblock content %}
  </div>

</body>
</html>