{% extends "biblios/base.html" %}
{% load static %}
{% load icon_tags %}

{% block tutorial_section %}
<!-- Tutorials Section - Only on Homepage -->
<li class="menu-title">
  <span class="flex items-center gap-2">
    {% icon 'academic-cap' css_class='size-4' %}
    Tutorials
  </span>
</li>
<li>
  <a id="startHomepageTutorial" class="active">
    {% icon 'play' css_class='size-5' %}
    <div class="flex flex-col items-start">
      <span class="font-semibold">Homepage Walkthrough</span>
      <span class="text-xs opacity-70">Learn the basics</span>
    </div>
  </a>
</li>
<!-- Tab-Specific Tutorials -->
<li>
  <a id="startAllDocumentsTutorial">
    {% icon 'document' css_class='size-5' %}
    <div class="flex flex-col items-start">
      <span class="font-semibold">All Documents Guide</span>
      <span class="text-xs opacity-70">Tab-specific features</span>
    </div>
  </a>
</li>
{% if pending_reviews %}
<li>
  <a id="startPendingReviewsTutorial">
    {% icon 'star' css_class='size-5' %}
    <div class="flex flex-col items-start">
      <span class="font-semibold">Pending Reviews Guide</span>
      <span class="text-xs opacity-70">Review queue features</span>
    </div>
  </a>
</li>
{% endif %}
<li>
  <a id="startWhereYouLeftOffTutorial">
    {% icon 'clock' css_class='size-5' %}
    <div class="flex flex-col items-start">
      <span class="font-semibold">Where You Left Off Guide</span>
      <span class="text-xs opacity-70">Recent work features</span>
    </div>
  </a>
</li>
{% endblock %}

{% block tutorial_divider %}
<div class="divider my-1"></div>
{% endblock %}

{% block title %}Libriscan{% endblock %}

{% block content %}
  {% include "biblios/components/layout/welcome_section.html" %}
{% endblock content %}
