{% extends "biblios/base.html" %}
{% block content %}
  <p>{{ org }}</p>
  <p>{{ org.city }}, {{ org.state }}</p>
  <h5>Consortiums</h5>
  <ul>
    {% for m in org.membership_set.all %}
      <li>
        <a href="{% url 'consortium' m.consortium.id %}">{{ m.consortium }}</a>
      </li>
    {% empty %}
      <li>No consortium memberships</li>
    {% endfor %}
  </ul>
  <h5>Collections</h5>
  <ul>
    {% for c in org.collection_set.all %}
      <li>
        <a href="{{ c.get_absolute_url }}">{{ c }}</a>
      </li>
    {% empty %}
      <li>No collections</li>
    {% endfor %}
  </ul>
{% endblock content %}
