{% extends "biblios/base.html" %}

{% block content %}
<h4>{{ page }} Extractor Test</h4>
{% url 'extract' page.id %}
<div>
      <div class="card m-4 w-80">
        <h5>Page {{page.number}}</h5>
          <figure>
            {% if page.image %}
                <img src="{{page.image}}"/>
            {% endif %}
          </figure>
        <div class="card-body">
          <button hx-post="{% url 'extract' page.id %}" hx-target="#extraction">
              Extract            
          </button>
        </div>
      </div>

      <div id="extraction" class="card m-4 w-80">
        <h5>Text Response</h5>
      </div>

</div>

{% endblock %}