{% extends "biblios/base.html" %}

{% block title %}LibriScan - Text Recognition{% endblock %}

{% block content %}
<div class="container mx-auto p-4">
  <div class="grid grid-cols-1 lg:grid-cols-2 gap-6">
    <!-- Left Column: File Upload -->
    <div class="w-full">
      {% include "biblios/components/forms/file_upload.html" %}
    </div>
    
    <!-- Right Column: Text Display -->
    <div class="w-full">
      {% include "biblios/components/forms/text_display.html" %}
    </div>
  </div>
</div>
{% endblock content %}
