@import "tailwindcss";

@source "../../templates/**/*.html";
@source "../../static/js/**/*.js";
@source not "./tailwindcss.exe";
@source not "./daisyui{,*}.mjs";

@plugin "./daisyui.mjs";

@plugin "./daisyui-theme.mjs" {
  /* custom themes */
}