{% load static %}

<div class="navbar bg-base-100">
  <!-- Brand -->
  <div class="flex-1">
    <a href="{% url 'index' %}" class="text-xl font-semibold">LibriScan</a>
  </div>

  <!-- Navigation Links -->
  <div class="flex-none gap-2">
    <ul class="menu menu-horizontal px-1">
      <li><a href="{% url 'index' %}" class="hover:bg-base-200">Home</a></li>
      <li><a href="{% url 'organization-list' %}" class="hover:bg-base-200">Collections</a></li>
      <li><a href="#" class="hover:bg-base-200">Search</a></li>
      <li>
        {% if user.is_authenticated %}
        <form method="post" action="/account/logout/" class="m-0 p-0">
          {% csrf_token %}
          <input type="hidden" name="next" value="{% url 'index' %}">
          <button type="submit" class="hover:bg-base-200 px-4 py-2 w-full text-left">Logout</button>
        </form>
        {% else %}
        <a href="{% url 'login' %}">Login</a>
        {% endif %}
      </li>
    </ul>
  </div>
</div>
