boto3==1.40.45
Django==5.2.7
django_localflavor==5.0
Pillow==11.3.0
django_htmx==1.26.0
python-dotenv==1.1.1
rules==3.5
gunicorn==23.0.0
whitenoise==6.11.0
pyspellchecker==0.8.3
pymupdf==1.26.4
django-_simple_history==3.10.1