services:

  caddy:
    image: caddy:latest
    container_name: caddy
    user: 1000:1000
    restart: unless-stopped
    cap_add:
      - NET_ADMIN
    ports:
      - 80:80
      - 443:443
      - 443:443/udp
    volumes:
      - ~/appdata/caddy/caddy:/etc/caddy
      - ~/appdata/caddy/data:/data
      - ~/appdata/caddy/config:/config
      - ~/appdata/libriscan/images:/media:ro
    environment:
      - TZ=America/New_York

  libriscan:
    container_name: libriscan
    image: ghcr.io/crimson-vision/libriscan:main
    user: 1000:1000
    volumes:
      - ~/appdata/libriscan/:/app/mnt
    environment:
      - TZ=America/New_York
    ports:
      - 8000:8000

  huey:
    container_name: huey
    image: ghcr.io/crimson-vision/libriscan:main
    command: python manage.py run_huey
    user: 1000:1000
    volumes:
      - ~/appdata/libriscan/:/app/mnt
    environment:
      - TZ=America/New_York
