{% load icon_tags %}
{% if document.status == 'N' %}
    <span class="badge badge-sm badge-ghost gap-1.5 px-2">
        {% icon 'edit' css_class='size-3' %}
        New
    </span>
{% elif document.status == 'I' %}
    <span class="badge badge-sm badge-info gap-1.5 px-2">
        {% icon 'clock' css_class='size-3' %}
        In Progress
    </span>
{% elif document.status == 'R' %}
    <span class="badge badge-sm badge-warning gap-1.5 px-2">
        {% icon 'shield-check' css_class='size-3' %}
        Ready for Review
    </span>
{% elif document.status == 'A' %}
    <span class="badge badge-sm badge-success gap-1.5 px-2">
        {% icon 'check-circle' css_class='size-3' %}
        Approved
    </span>
{% endif %}

