@import "tailwindcss";

@source "../libriscan/biblios/templates/**/*.html";
@source "../libriscan/biblios/static/js/**/*.js";
@source not "./tailwindcss.exe";
@source not "./tailwindcss";
@source not "./daisyui{,*}.mjs";

@plugin "./daisyui.mjs";

@plugin "./daisyui-theme.mjs" {
  /* custom themes */
}